<div class="card text-bg-light mb-3">
    <div id="languages">
        <div class="card-title">
            <h2>Languages / Idiomas:</h2>
            <div id="agregate-btn-languages" *ngIf="btnEdition"><i class="fa fa-plus"></i></div>
        </div>
        <div class="card-body">
           <ul class="list-group" id="langs">
                <li class="list-group-item list-group-item-light" *ngFor="let language of languagesData.languagesInformation">
                    <div class="list-info-languages">
                        <h6 id="data-list-languages-lang">{{language.lang}}{{language.level}}</h6>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end" *ngIf="btnEdition">
                        <div id="edit-btn-languages"><i class="fa fa-pen me-md-2"></i></div>
                        <div id="remove-btn-languages"><i class="fa fa-trash"></i></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>        
</div>