<div class="card text-bg-light mb-3">
    <div id="languages">
        <div class="card-title">
            <h2>Languages / Idiomas:</h2>
            <div id="agregate-btn-languages" *ngIf="btnEdition"><i class="fa fa-plus" (click)="addItem()"></i></div>
        </div>
        <div class="card-body">
           <ul class="list-group" id="langs">
                <li class="list-group-item list-group-item-light" *ngFor="let language of languagesData">
                    <div class="list-info-languages">
                        <h6 id="data-list-languages-lang">{{language.name}}{{language.level}}</h6>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end" *ngIf="btnEdition">
                        <div id="edit-btn-languages"><i class="fa fa-pen me-md-2"></i></div>
                        <div id="remove-btn-languages"><i class="fa fa-trash"></i></div>
                    </div>
                </li>
                <li class="list-group-item list-group-item-light" id="addItem" *ngIf="btnAdd">
                    <div class="data-container">
                        <div class="list-info-language">
                            <h5>Complete the language information:</h5>
                            <br>
                            <div class="language-details">
                                <div id="data-list-language-description">
                                    <h6>Language: <input type="text" placeholder="language name" id="name-language"></h6>
                                    <h6>Level: <input type="text" placeholder="language level" id="level-language"></h6>
                                </div>
                                <button class="btn btn-secondary" (click)="saveChanges()">Save changes</button>
                                <button class="btn btn-terciary" (click)="addItem()">Cancel</button>       
                            </div>
                        </div>  
                    </div>
                </li>
            </ul>
        </div>
    </div>        
</div>