<div class="card text-bg-light mb-3">
    <div class="card-title">
        <h3>{{projectsData.projectsHeader}}</h3>
    </div>
    <div class="card-body">
        <ul class="list-group" id="projects">
            <li class="list-group-item list-group-item-light"*ngFor="let project of projectsData.projectsInformation">
                <div class="data-container">
                    <div class="list-info-project">
                        <div class="project-name">
                            <h5 id="data-list-project-name">{{project.name}}</h5>
                            <h6 id="data-list-project-place">{{project.place}}</h6>    
                        </div>
                        <div class="project-details">
                            <p id="data-list-project-description">{{project.descriptionEnglish}}<br><br>{{project.descriptionSpanish}}</p>
                        </div>
                    </div>  
                </div>
            </li>
        </ul>
    </div>
</div>
