<div class="card text-bg-light mb-3">
    <div class="card-title">
        <h2>Education / Educación</h2>
        <div id="agregate-btn-education" *ngIf="btnEdition"><i class="fa fa-plus" (click)="addItem()"></i></div>
    </div>
    <div class="card-body">
        <ul class="list-group" id="education">
            <li class="list-group-item list-group-item-light" *ngFor="let edu of education" [id]="edu.id" >
                <div class="data-container">
                    <div class="list-info-education">
                        <h4 id="data-list-education-name">{{edu.name}}</h4>
                        <h5 id="data-list-education-place">{{edu.place}}</h5>
                        <h6> <span id="data-list-education-start">{{edu.startDate}}</span> - <span id="data-list-education-end">{{edu.endDate}}</span></h6>
                    </div>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end" *ngIf="btnEdition">
                    <div id="edit-btn-education"><i class="fa fa-pen me-md-2"  [id]="edu.id" (click)="editItem($event)"></i></div>
                    <div id="remove-btn-education"><i class="fa fa-trash"></i></div>
                </div>
            </li>
            <li class="list-group-item list-group-item-light" id="addItem" *ngIf="btnAdd">
                <div class="data-container">
                    <div class="list-info-education">
                        <h5>Complete the education information:</h5>
                        <br>
                        <div class="education-name">
                            <h5 id="data-list-education-name">Name: <input type="text" placeholder="name" id="name-education"></h5>
                            <h6 id="data-list-education-place">Place: <input type="text" placeholder="place" id="place-education"></h6>    
                            <h6 id="data-list-education-start-date">Start date: <input type="date" placeholder="start date" id="start-date-education"></h6>
                            <h6 id="data-list-education-end-date">End date: <input type="date" placeholder="end date" id="end-date-education"></h6>
                            <button class="btn btn-secondary" (click)="saveChanges()">Save changes</button>
                            <button class="btn btn-terciary"  (click)="addItem()">Cancel</button>       
                        </div>
                    </div>  
                </div>
            </li>
        </ul>        
    </div>
</div>
